{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron">

  <center><h1 class="display-3">{{ title }}</h1>
  <p class="lead">Achetez vos billets en ligne</p>
  <a href="{{path('form')}}"><button type="button" class="btn btn-outline-primary">Billetterie</button></a></center>
  <hr class="my-4">
 <center> <p>Exposition du moment: Un rêve d'Italie</p>
  <img src="https://www.italieaparis.net/actualite/public/art/image16551.jpg"></center>
</div>

    <footer class="dark bg-primary pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase text-secondary">Musée du Louvre - Billetterie</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase text-secondary">Liens</h5>

                    <ul class="text-secondary list-unstyled ">
                        <li>
                            <a href="#!" class="text-secondary">Accueil</a>
                        </li>
                        <li>
                            <a href="#!" class="text-secondary">Billetterie</a>
                        </li>
                        <li>
                            <a href="#!" class="text-secondary">Site Officiel</a>
                        </li>
                    </ul>

                </div>

            </div>

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-secondary">© 2019 Copyright - BERTET Théo
        </div>
        <!-- Copyright -->

    </footer>
{% endblock %}
