{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron">

  <center><h1 class="display-3">{{ title }}</h1>
  <p class="lead">Achetez vos billets en ligne</p>
  <a href="{{path('form')}}"><button type="button" class="btn btn-outline-primary">Billetterie</button></a></center>
  <hr class="my-4">
  <p>Exposition du moment: Un rêve d'Italie</p>
</div>


{% endblock %}
